#Headers{
	width: 100%;
}

.item-container {
	width: 100%;
}


.header-col {
	width: 20%;
	display: inline-block;
	padding-left: 2%;
	text-align: left;
}

.header-col:nth-child(3) {
	margin-left: 9px;
}


.header-col:nth-child(4) {
	margin-left: 6px;
	width: 23%;
	vertical-align: text-top;
}


.item-col {
	width: 23%;
	display: inline-block;
	padding-left: 1%;
	text-align: left;
}
