#Headers{
	width: 100%;
}

.item-container {
	width: 100%;
}

.header-col {
	width: 25%;
	display: inline-block;
	padding-left: 2%;
	text-align: left;
	vertical-align: text-top;
}

.header-col:nth-child(1) {
	width: 25%;
}

.item-col {
	width: 25%;
	display: inline-block;
	padding-left: 2%;
	text-align: left;
}

.item-col:nth-child(1) {
	width: 28%;
	padding-left: 0px;
}

.item-col:nth-child(3) {
	margin-left: 9px;
}
