body {
	font-family: Sans-Serif;
}

.container {
	width: 100%;
}

.tileContainer {
	width: 80%;
}

.tileRow {
	width: 70%;
	display: block;
	padding: 10px;
}

.tile {
	width: 24%;
	background-color: #FAFAFA;
	display: inline-block;
	margin: 10px;
	z-index: 1;
}

.tileTitle {
	width: 100%;
	display: block;
	text-align: center;
}

.tileLogo {
	width: 10%;
	display: inline-block;
	margin-top: 45px;
	margin-right: 10px;
	max-width: 100px;
	max-height: 40px;
	float: left;
	background: url('./Captain_Planet_logo.png') no-repeat;
}

.tileBody {
	width: 53%;
	display: inline-block;
	float: right;
	padding-left: 10px;
}

.tile:hover {
	opacity: 0.4;
	background: url('./pencil-logo.png') no-repeat;
	background-position: center;
	cursor: pointer;
}